Beginning of our exploration of MTA data.

In [2]:
api_key = "a57e16aadfd85e7b920ed17db1a0e751"

In [3]:
import pandas as pd
import numpy as np

In [10]:
df_entrances = pd.read_csv("http://web.mta.info/developers/data/nyct/subway/StationEntrances.csv")

In [11]:
df.head()

,Division,Line,Station_Name,Station_Latitude,Station_Longitude,Route_1,Route_2,Route_3,Route_4,Route_5,...,Staffing,Staff_Hours,ADA,ADA_Notes,Free_Crossover,North_South_Street,East_West_Street,Corner,Latitude,Longitude
0,BMT,Astoria,Ditmars Blvd,40.775036,-73.912034,N,Q,NaN,NaN,NaN,...,FULL,NaN,False,NaN,True,31st St,23rd Ave,NW,40.775149,-73.912074
1,BMT,Astoria,Ditmars Blvd,40.775036,-73.912034,N,Q,NaN,NaN,NaN,...,FULL,NaN,False,NaN,True,31st St,23rd Ave,NE,40.774810,-73.912151
2,BMT,Astoria,Ditmars Blvd,40.775036,-73.912034,N,Q,NaN,NaN,NaN,...,FULL,NaN,False,NaN,True,31st St,23rd Ave,NE,40.775025,-73.911891
3,BMT,Astoria,Ditmars Blvd,40.775036,-73.912034,N,Q,NaN,NaN,NaN,...,FULL,NaN,False,NaN,True,31st St,23rd Ave,NW,40.774938,-73.912337
4,BMT,Astoria,Astoria Blvd-Hoyt Av,40.770258,-73.917843,N,Q,NaN,NaN,NaN,...,FULL,NaN,False,NaN,True,31st St,Hoyt Ave South,SW,40.770313,-73.917978

In [12]:
df['Vending'].describe()

count     1866
unique       2
top        YES
freq      1683
Name: Vending, dtype: object

In [13]:
df.columns

Index(['Division', 'Line', 'Station_Name', 'Station_Latitude',
       'Station_Longitude', 'Route_1', 'Route_2', 'Route_3', 'Route_4',
       'Route_5', 'Route_6', 'Route_7', 'Route_8', 'Route_9', 'Route_10',
       'Route_11', 'Entrance_Type', 'Entry', 'Exit_Only', 'Vending',
       'Staffing', 'Staff_Hours', 'ADA', 'ADA_Notes', 'Free_Crossover',
       'North_South_Street', 'East_West_Street', 'Corner', 'Latitude',
       'Longitude'],
      dtype='object')

Downloading the turnstyle data for June 3. Need a naming convention. df_j3 will henceforth be known as the turnstyle data for june 3. We can assume it is turnstyle data since there is nothing else that will be reported by week.

In [20]:
df_j3 = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_170603.txt")

In [26]:
df_j3.sample(10)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
62841,N127,R442,00-00-02,SHEPHERD AV,C,IND,06/02/2017,17:00:00,REGULAR,6309336,3050863
69444,N208,R443,01-06-00,170 ST,BD,IND,05/29/2017,01:00:00,REGULAR,283637,274144
92186,N504,R021,02-00-01,42 ST-BRYANT PK,BDFM7,IND,05/29/2017,04:00:00,REGULAR,9794578,12211239
127811,R133,R272,00-00-00,28 ST,1,IRT,06/02/2017,21:00:00,REGULAR,12667381,4041818
83701,N337,R255,00-00-02,BRIARWOOD,EF,IND,05/29/2017,16:00:00,REGULAR,1406601,142544
37783,J034,R007,00-00-02,104 ST,JZ,BMT,05/29/2017,00:00:00,REGULAR,2026016852,622126289
127985,R134,R272,01-00-01,28 ST,1,IRT,05/27/2017,21:00:00,REGULAR,1779770,1345217
132304,R155,R116,01-00-04,50 ST,1,IRT,05/31/2017,00:00:00,REGULAR,4692626,1752273
13280,B010,R412,00-03-01,BOTANIC GARDEN,S2345,BMT,05/28/2017,09:00:00,REGULAR,198464,231578
45712,N049,R084,01-02-01,59 ST COLUMBUS,ABCD1,IND,05/27/2017,04:00:00,REGULAR,15284719,12492142

In [25]:
len(df_j3['STATION'].unique())

374

In [19]:
# for i in range(2,len(df_june_3_turnstyle)):
#     df_june_3_turnstyle[i]['hourly entries'] = df_june_3_turnstyle[i]['hourly entries'] - df_june_3_turnstyle[i-1]['hourly entries']

In [ ]:
df_j3